<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
</head>
<body>
    <h1>Beiträge</h1>

    {% if user.is_authenticated %}
        <a href="{% url 'create_post' %}" class="btn btn-primary">Neuen Beitrag erstellen</a>
    {% endif %}

    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                <p>Erstellt von {{ post.author }} am {{ post.created_at }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
