{% extends 'forum/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-light">Beiträge</h1>
    <br>
    <h5 class="mb-3 text-light">Vorgeschlagen</h3>
    {% for post in posts %}
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start mb-3 rounded shadow-sm" data-href="{% url 'post_detail' post.pk %}" style="cursor: pointer;">
            
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ post.title }}</h5>
                <small class="text-muted">{{ post.created_at | date:"M. d, Y, h:i A" }}</small>
            </div>
            
            <p class="mb-1">{{ post.content }}</p>
            <small class="text-muted">Erstellt von {{ post.author }}</small>

        </div>
    {% endfor %}
    </div>

    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start mb-3 rounded shadow-sm" style="cursor: pointer;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Platzhalter Kategorie "Alle"</h5>
                <small class="text-muted">Datum</small>
    
                <p class="mb-1">Inhalt</p>
                <small class="text-muted">Erstellt von Benutzer</small>
            </div>
        </div>
    </div>
    
</div>
<script>

    document.querySelectorAll('.list-group-item').forEach(item => {
        item.addEventListener('click', () => {
            window.location.href = item.getAttribute('data-href');
        });
    });
</script>
{% endblock %}